<ul>
    <li class="nav-item px-3">
        <NavLink href="" >
            Home
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink href="/new-bug">
           New Bug
        </NavLink>
    </li>
</ul>
